* {
  padding: 0;
  margin: 0;
  top: 50;
  background-color: lightcyan;
  min-width: 1000px; /* Suppose you want minimum width of 1000px */
  width: auto !important; /* Firefox will set width as auto */
  width: 1000px;
}
canvas {
  display: block;
  border: 1px solid #d3d3d3;
  background-color: grey;
  background: url("resources/background.png");
  margin: 0 auto;
}
#output {
  text-align: center;
  margin-top: 30px;
}
